[Desktop Entry]
NoDisplay=true
Name[am]=ጥቅል መግጠሚያ
Name[ar]=مثبت الحزم
Name[ast]=Instalador de paquetes
Name[be]=Усталёўшчык пакетаў
Name[bg]=Инсталатор на пакети
Name[br]=Meziant staliañ ar pakadoù
Name[ca]=Instal·lador de paquets
Name[cs]=Instalátor balíčků
Name[cy]=Gosodwr Pecynnau
Name[da]=Pakkeinstalleringsprogram
Name[de]=Paketinstallationsprogramm
Name[el]=εγκαταστάτης πακέτων
Name[en_CA]=Package Installer
Name[en_GB]=Package Installer
Name[eo]=Pako-instalilo
Name[es]=Instalador de paquetes
Name[eu]=Pakete-instalatzailea
Name[fa]=نصب کنندهٔ بسته
Name[fi]=Paketinasentaja
Name[fil]=Package Installer
Name[fr]=Programme d’installation de paquets
Name[fr_CA]=Programme d’installation de paquets
Name[he]=מתקין חבילות
Name[hi]=पैकेज संस्थापक
Name[hr]=Instalacija paketa
Name[hu]=Csomagtelepítő
Name[ia]=Installator de pacchettos
Name[id]=Pemasang Paket
Name[is]=Uppsetningarforrit fyrir pakka
Name[it]=Installatore pacchetto
Name[ja]=パッケージインストーラー
Name[ka]=პაკეტების დაყენების პროგრამა
Name[ko]=패키지 설치 프로그램
Name[lo]=ຕົວຕິດຕັ້ງແພັກເກດ
Name[lt]=Paketų diegimo programa
Name[lv]=Pakotnes instalētājs
Name[ml]=പാക്കേജ് ഇൻസ്റ്റാളർ
Name[ms]=Pemasang Pakej
Name[nb]=Pakkeinstalleringsprogram
Name[nl]=Pakketinstalleerder
Name[nn]=Pakkebehandlar
Name[oc]=Installador de paquets
Name[pl]=Instalator pakietów
Name[pt]=Instalador de Pacotes
Name[pt_BR]=Instalador de Pacotes
Name[ro]=Instalator de pachete
Name[ru]=Программа установки пакетов
Name[sk]=Inštalátor balíkov
Name[sl]=Namestilnik paketov
Name[sq]=Instaluesi i Paketave
Name[sr]=Инсталер пакета
Name[sv]=Paketinstallerare
Name[te]=ప్యాకేజీ స్థాపకం
Name[th]=ตัวติดตั้งแพคเกจ
Name[tr]=Paket Kurucusu
Name[uk]=Установник пакунків
Name[ur]=پیکیج انسٹالر
Name[uz]=Paketlar o'rnatuvchisi
Name[vi]=Trình cài đặt gói
Name[zh_CN]=软件包安装程序
Name[zh_TW]=套件安裝程式
Name=Package Installer
Comment[ar]=ثبت حزمة برنامج
Comment[ast]=Instalar un paquete de software
Comment[be]=Усталюйце пакет праграм
Comment[bg]=Инсталиране на софтуерен пакет
Comment[br]=Staliañ pakad ur meziant
Comment[ca]=Instal·leu un paquet de programari
Comment[cs]=Nainstalovat softwarový balíček
Comment[cy]=Gosod pecyn meddalwedd
Comment[da]=Installér en softwarepakke
Comment[de]=Ein Programmpaket installieren
Comment[el]=Εγκατάσταση πακέτου λογισμικού
Comment[en_CA]=Install a software package
Comment[en_GB]=Install a software package
Comment[eo]=Instali programaran pakon
Comment[es]=Instalar un paquete de software
Comment[eu]=Instalatu software-paketea
Comment[fa]=نصب یک بسته نرم افزاری
Comment[fi]=Asenna ohjelma
Comment[fil]=Mag-install ng software package
Comment[fr]=Installer un paquet logiciel
Comment[fr_CA]=Installer un paquet logiciel
Comment[he]=התקנת חבילת תוכנה
Comment[hi]=कोई सॉफ़्टवेयर पैकेज स्थापित करें
Comment[hr]=Instaliraj softverski paket
Comment[hu]=Szoftvercsomagok telepítése
Comment[ia]=Installar un pacchetto software
Comment[id]=Pasang suatu paket perangkat lunak
Comment[is]=Setja upp hugbúnaðarpakka
Comment[it]=Installa un pacchetto software
Comment[ja]=ソフトウェアパッケージをインストール
Comment[ka]=პროგრამის პაკეტის დაყენება
Comment[kab]=Sbedd akemmus n useɣẓan
Comment[ko]=소프트웨어 패키지 설치
Comment[lo]=ຕິດຕັ້ງແພັກເກດຊັອບແວ
Comment[lt]=Įdiegti programinės įrangos paketą
Comment[lv]=Programmatūras pakotnes instalēšana
Comment[ml]=ഒരു സോഫ്റ്റ്വെയർ പാക്കേജ് ഇൻസ്റ്റാൾ ചെയ്യുക
Comment[ms]=Pasang pakej perisian
Comment[nb]=Installer en programvarepakke
Comment[nl]=Een programmatuurpakket installeren
Comment[nn]=Installera nye program
Comment[oc]=Installar un paquet logicial
Comment[pl]=Zainstaluj pakiet oprogramowania
Comment[pt]=Instale um pacote de software
Comment[pt_BR]=Instalar um pacote de software
Comment[ro]=Instalează un pachet de programe
Comment[ru]=Установить пакет ПО
Comment[sk]=Nainštalujte softvérový balík
Comment[sl]=Namestite programski paket
Comment[sq]=Instaloni një paketë softuerësh
Comment[sr]=Инсталирајте софтверски пакет
Comment[sv]=Installera ett programpaket
Comment[te]=సాఫ్ట్‌వేర్ ప్యాకేజీని ఇన్‌స్టాల్ చేయండి
Comment[th]=ติดตั้งแพคเกจซอฟต์แวร์
Comment[tr]=Bir yazılım paketi kurun
Comment[uk]=Установити пакунок програми
Comment[ur]=سافٹ ویئر پیکج انسٹال کریں۔
Comment[uz]=Dasturiy ta'minot paketini o‘rnatish
Comment[vi]=Cài đặt gói phần mềm
Comment[zh_CN]=安装一个软件包
Comment[zh_TW]=安裝軟體套件
Comment=Install a software package
Exec=captain %u
Icon=package
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;x-scheme-handler/apt;
NoDisplay=true
StartupNotify=false
# Managed by rofi-blacklist-sync
