[Desktop Entry]
NoDisplay=true
Name[am]=የጣት አሻራዎች
Name[ar]=بصمات الأصابع
Name[bg]=Пръстови отпечатъци
Name[br]=Louc'hoù-biz
Name[ca]=Empremtes
Name[cs]=Otisky prstů
Name[cy]=Bysbrintiau
Name[da]=Fingeraftryk
Name[de]=Fingerabdrücke
Name[el]=Αποτυπώματα
Name[en_GB]=Fingerprints
Name[eo]=Fingropremaĵoj
Name[es]=Huellas dactilares
Name[eu]=Hatz-markak
Name[fi]=Sormenjäljet
Name[fil]=Fingerprints
Name[fr]=Empreintes digitales
Name[fr_CA]=Empreintes digitales
Name[he]=טביעות אצבע
Name[hi]=फिंगरप्रिंट्स
Name[hr]=Otisci prstiju
Name[hu]=Ujjlenyomatok
Name[ia]=Dactylogrammas
Name[id]=Sidik jari
Name[ie]=Fingre-printes
Name[is]=Fingraför
Name[it]=Impronte digitali
Name[ja]=指紋認証
Name[ka]=თითის ანაბეჭდები
Name[ko]=지문 인식
Name[lo]=ລາຍນິ້ວມື
Name[lv]=Pirkstu nospiedumi
Name[ml]=വിരലടയാളങ്ങള്‍
Name[ms]=Cap jari
Name[nb]=Fingeravtrykk
Name[nl]=Vingerafdrukken
Name[nn]=Fingeravtrykk
Name[oc]=Emprentas
Name[pl]=Odciski palców
Name[pt]=Impressões digitais
Name[pt_BR]=Impressões digitais
Name[ro]=Amprente digitale
Name[ru]=Отпечатки пальцев
Name[sk]=Odtlačky prstov
Name[sl]=Prstni odtisi
Name[sq]=Gjurmë gishtash
Name[sr]=Отисци
Name[sv]=Fingeravtryck
Name[te]=వేలిముద్రలు
Name[tr]=Parmak-izleri
Name[uk]=Відбитки пальців
Name[uz]=Barmoq izlari
Name[vi]=Dấu vân tay
Name[zh_CN]=指纹
Name[zh_TW]=指紋
Name=Fingerprints
Comment[ar]=أداة تكوين لبصمات الأصابع
Comment[bg]=Инструмент за конфигуриране на отпечатъци
Comment[br]=Benveg merañ ar louc'hoù-biz
Comment[ca]=Eina de configuració d'empremta dactilar
Comment[cs]=Konfigurační nástroj otisků prstů
Comment[cy]=Teclyn ffurfweddu bysbrintiau
Comment[da]=Værktøj til konfigurering af fingeraftryk
Comment[de]=Fingerabdruck-Konfigurationswerkzeug
Comment[el]=Εργαλείο ρύθμισης δακτυλικών αποτυπωμάτων
Comment[en_GB]=Fingerprint configuration tool
Comment[eo]=Fingropremaĵa agordilo
Comment[es]=Herramienta de configuración de huella dactilar
Comment[eu]=Hatz-marka konfiguratzeko tresna
Comment[fi]=Sormenjälkien määritystyökalu
Comment[fil]=Fingerprint configuration tool
Comment[fr]=Outil de configuration d’empreintes digitales
Comment[fr_CA]=Outil de configuration d’empreintes digitales
Comment[he]=כלי להגדרת טביעות אצבע
Comment[hi]=फिंगरप्रिंट विन्यास उपकरण
Comment[hr]=Alat za konfiguraciju otiske prsta
Comment[hu]=Ujjlenyomat-beállító eszköz
Comment[ia]=Utensiles de configuration de dactylogrammas
Comment[id]=Alat konfigurasi sidik jari
Comment[ie]=Utensile de configuration de fingre-printes
Comment[is]=Uppsetning fingrafaralesturs
Comment[it]=Strumento di configurazione delle impronte digitali
Comment[ja]=指紋認証の設定ツール
Comment[ka]=ანაბეჭდების მორგების პროგრამა
Comment[ko]=지문 인식 설정 도구
Comment[lo]=ເຄື່ອງມືຕັ້ງຄ່າລາຍນິ້ວມື
Comment[lv]=Pirkstu nospiedumu konfigurēšanas rīks
Comment[ml]=വിരലടയാളക്രമീകരണ ഉപകരണം
Comment[ms]=Alat konfigurasi cap jari
Comment[nb]=Verktøy for konfigurasjon av fingeravtrykk
Comment[nl]=Instellingsgereedschap voor vingerafdrukken
Comment[nn]=Verktøy for konfigurasjon av fingeravtrykk
Comment[oc]=Aisina de configuracion d’emprentas
Comment[pl]=Narzędzie do konfiguracji odcisków palców
Comment[pt]=Ferramenta de configuração de impressões digitais
Comment[pt_BR]=Ferramenta de configuração da impressão digital
Comment[ro]=Utilitar pentru configurarea amprentelor digitale
Comment[ru]=Инструмент настройки отпечатков пальцев
Comment[sk]=Nástroj pre nastavenie odtlačkov prstov
Comment[sl]=Orodje za prilagoditev prstnih odtisov
Comment[sq]=Mjeti i konfigurimit të gjurmëve të gishtave
Comment[sr]=Алат подешавања отисака
Comment[sv]=Konfigurationsverktyg för fingeravtryck
Comment[te]=వేలిముద్ర కాన్ఫిగరేషన్ సాధనం
Comment[tr]=Parmak-izi yapılandırma aracı
Comment[uk]=Інструмент налаштування відбитків пальців
Comment[uz]=Barmoq izini sozlash vositasi
Comment[vi]=Công cụ cài đặt vân tay
Comment[zh_CN]=指纹配置工具
Comment[zh_TW]=指紋建構工具
Comment=Fingerprint configuration tool
Exec=fingwit
Icon=fingwit
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;Settings;
Keywords[am]=የጣት አሻራ፤ማረጋገጫ፤ደህንነት፤ባዮሜትሪክ፤
Keywords[ar]=بصمةإصبع;مصادقة;أمان;البيومترية
Keywords[bg]=отпечатък;удостоверяване;сигурност;биометрия
Keywords[ca]=empremta dactilar;autenticació;seguretat;biomètrica;
Keywords[cs]=otisk prstu; ověřování; zabezpečení; biometrické údaje;
Keywords[cy]=bysbrintiau;dilysu;diogeledd;biometrig;
Keywords[da]=fingeraftryk;godkendelse;autentificering;autentifikation;sikkerhed;biometri;biometrisk;
Keywords[de]=fingerprint;authentication;security;biometric;Fingerabdruck;Authentifizierung;Legitimierung;Sicherheit;biometrisch;
Keywords[el]=fingerprint;authentication;security;biometric;αποτύπωμα;δακτυλικό;ταυτοποίηση;βιομετρικά;ασφάλεια;
Keywords[en_GB]=fingerprint;authentication;security;biometric;
Keywords[eo]=fingropremaĵo;aŭtentigo;sekurigo;biometria;
Keywords[es]=huella dactilar;autenticación;seguridad;biométrica;
Keywords[eu]=hatz-marka;autentifikazioa;segurtasuna;biometriko
Keywords[fi]=fingerprint;authentication;security;biometric;sormenjälki; todennus;tunnistus;
Keywords[fil]=fingerprint;authentication;security;biometric;
Keywords[fr]=empreinte digitale;authentification;sécurité;biométrique;
Keywords[fr_CA]=empreinte digitale;authentification;sécurité;biométrique;
Keywords[he]=טביעת אצבע;אימות;אבטחה;ביומטרי;fingerprint;authentication;security;biometric;
Keywords[hi]=फिंगरप्रिंट;प्रमाणीकरण;सुरक्षा;बायोमेट्रिक;
Keywords[hr]=otisci prstiju;ovjera;sigurnost;biometrički;
Keywords[hu]=ujjlenyomat;hitelesítés,biztonság,biometrikus;fingerprint;authentication;security;biometric
Keywords[ia]=dactylogramma;authentication;securitate;biometric;
Keywords[id]=sidik jari;autentikasi;keamanan;biometrik;
Keywords[ie]=fingre-print;autentication;securitá;biometric;
Keywords[is]=fingrafar;auðkenning;öryggi;lífkennsl;
Keywords[it]=fingerprint;autenticazione;sicurezza;biometrica;impronte;
Keywords[ja]=fingerprint;authentication;security;biometric;指紋;認証;セキュリティ;生体;
Keywords[ka]=fingerprint;authentication;security;biometric;ბიომეტრია;ანაბეჭდი;ავთენტიკაცია;
Keywords[ko]=지문 인식;인증;보안;생체 인식;
Keywords[lo]=ລາຍນິ້ວມື;ການຢືນຢັນຕົວຕົນ;ຄວາມປອດໄພ;ຊີວະມິຕິ;
Keywords[lv]=pirkstu nospiedumi; autentifikācija; drošība; biometriskie dati;
Keywords[ml]=വിരലടയാളം; പ്രാമാണീകരണം; സുരക്ഷ; ബയോമെട്രിക്;
Keywords[ms]=cap jari;pengesahan;keselamatan;biometrik;
Keywords[nb]=fingeravtrykk;autentisering;sikkerhet;biometrisk;
Keywords[nl]=vingerafdruk;authenticatie;veiligheid;biometrisch;
Keywords[nn]=fingeravtrykk;autentisering;sikkerhet;biometrisk;
Keywords[oc]=emprenta;detada;autentificacion;seguretat;biometrica;
Keywords[pl]=odcisk palca;uwierzytelnianie;bezpieczeństwo;dane biometryczne;
Keywords[pt]=impressão digital;autenticação;segurança;biométrica;
Keywords[pt_BR]=impressão digital;autenticação;segurança;biometria;
Keywords[ro]=amprente digitale;autentificare;securitate;biometrice
Keywords[ru]=отпечаток;пальца;аутентификация;безопасность;биометрические;данные;
Keywords[sk]=odtlačok prsta;autentifikácia;zabezpečenie;biometrické;
Keywords[sl]=prstni odtis;prstni odtisi;ovejranje;pristnost;overjanje pristnosti;varnost;biometrično;
Keywords[sq]=gishtash; vërtetim; sigurim; biometrike;
Keywords[sr]=fingerprint;authentication;security;biometric;отисак;потврђивање;безбедност;биометрија;
Keywords[sv]=fingeravtryck;autentisering;säkerhet;biometrisk;
Keywords[te]=fingerprint;authentication;security;biometric;
Keywords[tr]=parmak-izi;kimlik-doğrulama;güvenlik;biyometri;
Keywords[uk]=відбиток пальця;автентифікація;безпека;біометричні;
Keywords[uz]=barmoq izi;autentifikatsiya;xavfsizlik;biometrik;
Keywords[vi]=vân tay;xác thực;bảo mật;sinh trắc học;
Keywords[zh_CN]=指纹;认证;安全;生物;
Keywords[zh_TW]=fingerprint;authentication;security;biometric;
Keywords=fingerprint;authentication;security;biometric;
StartupNotify=false
# Managed by rofi-blacklist-sync
