[Desktop Entry]
Name=LinOffice
Exec=python3 /home/lab/.local/bin/linoffice/gui/linoffice.py
Terminal=false
Type=Application
Icon=
StartupWMClass=LinOffice
Comment=LinOffice launcher and settings
Categories=Office
MimeType=
