[Desktop Entry]
NoDisplay=true
Name=System Administration
Name[ar]=إدارة النّظام
Name[bg]=Администрация на системата
Name[br]=Merañ ar reizhiad
Name[ca]=Administració del sistema
Name[cs]=Správa systému
Name[cy]=Gweinyddiaeth System
Name[da]=Systemadministration
Name[de]=Systemverwaltung
Name[eo]=Sistemadministrado
Name[es]=Administración del sistema
Name[eu]=Sistemaren administrazioa
Name[fi]=Järjestelmän ylläpito
Name[fr]=Administration du système
Name[fr_CA]=Administration du système
Name[he]=ניהול מערכת
Name[hr]=Administriranje sustava
Name[hu]=Rendszeradminisztráció
Name[ia]=Administration de systema
Name[is]=Kerfisstjórnun
Name[it]=Amministrazione di sistema
Name[ja]=システムの管理
Name[ka]=სისტემის მართვა
Name[ko]=시스템 관리
Name[lo]=ການບໍລິຫານລະບົບ
Name[lv]=Sistēmas administrēšana
Name[mk]=Системска администрација
Name[nb]=Systemadministrasjon
Name[nl]=Systeembeheer
Name[nn]=Systemadministrasjon
Name[oc]=Administracion sistèma
Name[pl]=Administracja systemem
Name[pt]=Administração do sistema
Name[pt_BR]=Administração do sistema
Name[ro]=Administrare sistem
Name[ru]=Системное администрирование
Name[sk]=Správa systému
Name[sl]=Skrbništvo sistema
Name[sv]=Systemadministration
Name[tr]=Sistem Yönetimi
Name[uk]=Керування системою
Name[vi]=Quản Trị Hệ Thống
Name[zh_CN]=系统管理
Name[zh_TW]=系統管理
Comment=Configure the system
Comment[bg]=Конфигуриране на системата
Comment[br]=Kefluniañ ar reizhiad
Comment[ca]=Configura el sistema
Comment[cs]=Konfigurace systému
Comment[cy]=Ffurfweddu'r system
Comment[da]=Konfigurér systemet
Comment[de]=Das System konfigurieren
Comment[eo]=Agordi la sistemon
Comment[es]=Configurar el sistema
Comment[eu]=Konfiguratu sistema
Comment[fi]=Määritä järjestelmä
Comment[fr]=Configurer le système
Comment[fr_CA]=Configurer le système
Comment[he]=תיצור המערכת
Comment[hr]=Konfigurajte sustav
Comment[hu]=A rendszer beállítása
Comment[ia]=Configurar le systema
Comment[is]=Grunnstilla kerfið
Comment[it]=Configura il sistema
Comment[ja]=システムの構成を変更します
Comment[ka]=მოაწყე სისტემა
Comment[ko]=시스템 설정
Comment[lo]=ຕັ້ງຄ່າລະບົບ
Comment[lv]=Konfigurēt sistēmu
Comment[mk]=Конфигурирај го системот
Comment[nb]=Konfigurer systemet
Comment[nl]=Het systeem instellen
Comment[nn]=Konfigurer systemet
Comment[oc]=Configurar lo sistèma
Comment[pl]=Konfiguruj system
Comment[pt]=Configurar o sistema
Comment[pt_BR]=Configure o sistema
Comment[ro]=Configurare sistem
Comment[ru]=Настроить систему
Comment[sk]=Nastavte systém
Comment[sl]=Prilagodite sistem
Comment[sv]=Konfigurera systemet
Comment[tr]=Sistemi yapılandır
Comment[uk]=Налаштувати систему
Comment[vi]=Cấu hình hệ thống
Comment[zh_CN]=配置系统
Comment[zh_TW]=設定系統
Exec=pkexec mintsysadm
Icon=mintsysadm
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;System;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-GNOME-Settings-Panel=system-administration
MimeType=text/x-apt-sources-list;
# Managed by rofi-blacklist-sync
