[Desktop Entry]
NoDisplay=true
Type=Application
Name[ast]=Warpinator
Name[be]=Warpinator
Name[bg]=Warpinator
Name[br]=Warpinator
Name[ca]=Warpinator
Name[cs]=Warpinator
Name[cy]=Warpinator
Name[da]=Warpinator
Name[de]=Warpinator
Name[el]=Warpinator
Name[en_CA]=Warpinator
Name[en_GB]=Warpinator
Name[eo]=Warpinator
Name[es]=Warpinator
Name[et]=Warpinator
Name[eu]=Warpinator
Name[fa]=Warpinator
Name[fi]=Warpinator
Name[fr]=Warpinator
Name[fr_CA]=Warpinator
Name[fy]=Warpinator
Name[he]=Warpinator
Name[hi]=Warpinator
Name[hr]=Warpinator
Name[hu]=Warpinator
Name[ia]=Warpinator
Name[id]=Warpinator
Name[ie]=Warpinator
Name[is]=Warpinator
Name[it]=Warpinator
Name[ja]=Warpinator
Name[kab]=Warpinator
Name[kn]=ವಾರ್ಪಿನೇಟರ್
Name[ko]=Warpinator
Name[ku]=Warpinator
Name[la]=Warpinator
Name[lo]=Warpinator
Name[lt]=Warpinator
Name[lv]=Warpinator
Name[ms]=Warpinator
Name[nb]=Warpinator
Name[nl]=Warpinator
Name[nn]=Warpinator
Name[oc]=Warpinator
Name[pl]=Warpinator
Name[pt]=Warpinator
Name[pt_BR]=Warpinator
Name[ro]=Warpinator
Name[ru]=Warpinator
Name[sk]=Warpinator
Name[sl]=Warpinator
Name[sq]=Warpinator
Name[sr]=Warpinator
Name[sr@latin]=Warpinator
Name[sv]=Warpinator
Name[te]=Warpinator
Name[tr]=Warpinator
Name[uk]=Warpinator
Name[uz]=Warpinator
Name[vi]=Warpinator
Name[zh_CN]=Warpinator
Name[zh_TW]=Warpinator
Name=Warpinator
Comment[am]=ፋይሎች በ ኔትዎርክ ውስጥ መላኪያ እና መቀበያ
Comment[ar]=إرسال واستقبال الملفات عبر الشبكة
Comment[ast]=Manda ya recibi ficheros pela rede
Comment[be]=Пасылайце і атрымлівайце файлы па сетцы
Comment[bg]=Изпращайте и получавайте файлове през мрежата
Comment[bn]=নেটওয়ার্ক  দিয়ে ফাইলগুলি প্রেরণ এবং গ্রহণ করুন
Comment[ca]=Envia i rep arxius a través de la xarxa
Comment[cs]=Posílání a přijímání souborů po síti
Comment[cy]=Anfon a Derbyn Ffeiliau ar draws y Rhwydwaith
Comment[da]=Send og modtag filer over netværket
Comment[de]=Dateien über das Netzwerk senden und empfangen
Comment[el]=Στείλτε και λάβετε αρχεία στο δίκτυό σας
Comment[en_CA]=Send and Receive Files across the Network
Comment[en_GB]=Send and Receive Files across the Network
Comment[eo]=Sendi kaj ricevi dosierojn tra la reto
Comment[es]=Enviar y recibir archivos a través de la red
Comment[et]=Failid saatmine ja vastuvõtmine võrgu kaudu
Comment[eu]=Bidali eta jaso fitxategiak sarean zehar
Comment[fa]=در سراسر شبکه فایل ارسال و دریافت کنید
Comment[fi]=Lähetä ja vastaanota tiedostoja verkossa
Comment[fr]=Envoyer et recevoir des fichiers sur le réseau
Comment[fr_CA]=Envoyer et recevoir des fichiers sur le réseau
Comment[fy]=Triemen oer it netwurk ferstjoere en oannime
Comment[he]=שליחה וקבלה של קבצים ברחבי הרשת
Comment[hi]=नेटवर्क पर फ़ाइलें भेजें और प्राप्त करें
Comment[hr]=Šaljite i primajte datoteke putem mreže
Comment[hu]=Fájlok küldése és fogadása a hálózaton
Comment[ia]=Invia e recipe files inter le rete
Comment[id]=Kirim dan Terima berkas melalui Jaringan
Comment[ie]=Inviar e reciver files tra li rete
Comment[is]=Senda og taka við skrám um netið
Comment[it]=Invia e ricevi file attraverso la rete
Comment[ja]=ネットワーク経由でファイルを送受信します
Comment[kab]=Azen rnu ṭṭef-d ifuylas uzeṭṭa
Comment[kn]=ಜಾಲಬಂಧದಾದ್ಯಂತ ಕಡತಗಳನ್ನು ಕಳುಹಿಸಿ ಮತ್ತು ಸ್ವೀಕರಿಸಿ
Comment[ko]=네트워크를 통해 파일 보내기 및 받기
Comment[ku]=Pelan li seranserê Torê bişînin û bistînin
Comment[la]=Plicas per Rete Mitte atque Recipe
Comment[lo]=ສົ່ງ ແລະ ຮັບໄຟລ໌ຜ່ານເຄືອຂ່າຍ
Comment[lt]=Siųsti ir gauti failus per tinklą
Comment[lv]=Failu nosūtīšana un saņemšana tīklā
Comment[ms]=Hantar dan Terima Fail merentas Rangkaian
Comment[nb]=Sende og motta filer på tvers av nettverket
Comment[nl]=Bestanden verzenden en ontvangen via het netwerk
Comment[nn]=Send og motta filer over nettverket
Comment[oc]=Enviar e recebre de fichièrs via la ret
Comment[pl]=Wysyłaj i odbieraj pliki w swojej sieci
Comment[pt]=Enviar e receber ficheiros através da rede
Comment[pt_BR]=Envie e Receba Arquivos através da Rede
Comment[ro]=Trimite și primește fișiere prin rețea
Comment[ru]=Отправка и получение файлов по сети
Comment[sk]=Odosiela a prijíma súbory prostredníctvom siete
Comment[sl]=Pošiljajte in prejemajte datoteke prek omrežja
Comment[sq]=Dërgoni dhe shkarko skedarë në të gjithë rrjetin
Comment[sr]=Шаљите и примајте датотеке путем мреже
Comment[sr@latin]=Šaljite i primajte datoteke preko mreže
Comment[sv]=Skicka och ta emot filer via nätverket
Comment[te]=నెట్‌వర్క్ అంతటా ఫైల్‌లను పంపండి మరియు స్వీకరించండి
Comment[tl]=Magpadala at Tumanggap ng mga Files sa buong network
Comment[tr]=Ağ Üzerinden Dosya Gönderin ve Alın
Comment[uk]=Відправка й отримання файлів мережею
Comment[uz]=Tarmoq bo‘ylab fayllarni yuborish va qabul qilish
Comment[vi]=Gửi và nhận tệp qua mạng
Comment[zh_CN]=通过网络分享文件
Comment[zh_HK]=通過網絡發送和接收文件
Comment[zh_TW]=透過網路發送和接收檔案
Comment=Send and Receive Files across the Network
Icon=org.x.Warpinator
Exec=warpinator
Categories=GNOME;GTK;Utility;
Keywords=transfer;exchange;
# Managed by rofi-blacklist-sync
