[Desktop Entry]
NoDisplay=true
Type=Application
Name=Evolution Data Server OAuth2 Handler
Comment=Handles OAuth2 responses and passes them to the OAuth2 prompter implementation
Exec=/usr/libexec/evolution-data-server/evolution-oauth2-handler %u
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/com.googleusercontent.apps.590402290962-2i0b7rqma8b9nmtfrcp7fa06g6cf7g74;x-scheme-handler/eds-oauth2;
X-Ubuntu-Gettext-Domain=evolution-data-server
# Managed by rofi-blacklist-sync
