[Desktop Entry]
NoDisplay=true
Version=1.0
Type=Application
Terminal=false
Exec=rofi-theme-selector
Name=Rofi Theme Selector
Icon=rofi
Keywords=theme-selector;
# Managed by rofi-blacklist-sync
