[Desktop Entry]
Type=Application
Name=Explota Palabras
Comment=Juego de typing
Exec=kitty -e /home/lab/repositorios/sets/typBoom.sh
Icon=utilities-terminal
Terminal=false
Categories=System;
