[Desktop Entry]
NoDisplay=true
Name[af]=Beeldbekyker
Name[am]=የምስል ተመልካች
Name[an]=Visor d'imachens
Name[ar]=عارض الصور
Name[as]=ছবি প্ৰদৰ্শক
Name[ast]=Visor d'Imáxenes
Name[az]=Rəsm Nümayişcisi
Name[be]=Прагляднік выяў
Name[be@latin]=Ahladalnik vyjavaŭ
Name[bg]=Преглед на изображения (xviewer)
Name[bn]=ছবি প্রদর্শক
Name[bn_IN]=ছবি প্রদর্শক
Name[br]=Gweler skeudennoù
Name[bs]=Preglednik slika
Name[ca]=Visualitzador d'imatges
Name[ca@valencia]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[cy]=Dangosydd Delweddau
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[dz]=གཟུགས་བརྙན་མཐོང་བྱེད།
Name[el]=Εφαρμογή προβολής εικόνων
Name[en@shaw]=𐑦𐑥𐑦𐑡 𐑝𐑿𐑼
Name[en_CA]=Image Viewer
Name[en_GB]=Image Viewer
Name[eo]=Bildomontrilo
Name[es]=Visor de imágenes
Name[et]=Pildivaataja
Name[eu]=Irudi-ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvakatselin
Name[fr]=Visionneur d’images
Name[fr_CA]=Visionneur d’images
Name[fur]=Visualizadôr di figuris
Name[fy]=Ôfbyldingswerjefteprogramma
Name[ga]=Amharcán Íomhánna
Name[gd]=Image Viewer
Name[gl]=Visor de imaxes
Name[gu]=ચિત્ર દર્શક
Name[he]=משקף תמונות
Name[hi]=छवि प्रदर्शक
Name[hr]=Preglednik slika
Name[hu]=Képmegjelenítő
Name[ia]=Visor de Image
Name[id]=Penampil Gambar
Name[is]=Myndarýnir
Name[it]=Visualizzatore di immagini
Name[ja]=画像ビューアー
Name[ka]=სურათების გალერეა
Name[kab]=Ameskan n tugna
Name[kk]=Суреттер көрсетушісі
Name[km]=កម្មវិធី​មើល​រូបភាព
Name[kn]=ಚಿತ್ರ ವೀಕ್ಷಕ
Name[ko]=이미지 보기
Name[ks]=फोटो हावनुक
Name[ku]=Nîşanderê Wêneyan
Name[la]=Imaginum Ostenditor
Name[lo]=ໂປຣແກຣມເບິ່ງຮູບ
Name[lt]=Paveikslų žiūryklė
Name[lv]=Attēlu skatītājs
Name[mai]=बिंब प्रदर्शक
Name[mg]=Mpizaha sary
Name[mk]=Прегледувач на слики
Name[ml]=ചിത്ര ദര്‍ശിനി
Name[mn]=Зураг харагч
Name[mr]=प्रतिमा दर्शक
Name[ms]=Pelihat Imej
Name[my]=ပုံကြည့်ရှုသည့်အရာ
Name[nb]=Bildevisning
Name[nds]=Billopwieser
Name[ne]=छवि प्रदर्शक
Name[nl]=Afbeeldingkijker
Name[nn]=Biletevisar
Name[nso]=Selebeledi sa Seswantšho
Name[oc]=Afichador d'imatges
Name[or]=ଚିତ୍ର ଦର୍ଶକ
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazów
Name[ps]=انځور ليدانی
Name[pt]=Visualizador de imagens
Name[pt_BR]=Visualizador de imagens
Name[ro]=Vizualizator imagini
Name[ru]=Просмотрщик изображений
Name[si]=පිළිඹිබු දසුන
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sq]=Shikues figurash
Name[sr]=Прегледач слика
Name[sr@latin]=Pregledač slika
Name[sv]=Bildvisare
Name[ta]=பிம்ப காட்டி
Name[te]=బొమ్మ వీక్షకము
Name[tg]=Бинандаи тасвирҳо
Name[th]=โปรแกรมแสดงรูป
Name[tk]=Resim Namaýyşçysy
Name[tr]=Resim Görüntüleyici
Name[ts]=Xikomba Swifaniso
Name[ug]=سۈرەت كۆرگۈ
Name[uk]=Переглядач зображень
Name[ur]=تصویر ناظر
Name[uz]=Rasm ko‘ruvchi
Name[uz@cyrillic]=Расм кўрувчи
Name[vi]=Bộ xem ảnh
Name[wa]=Håyneu d' imådjes
Name[xh]=Isibonisi-Mfanekiso
Name[zh_CN]=图像查看器
Name[zh_HK]=影像檢視器
Name[zh_TW]=影像檢視器
Name[zu]=Umbonisi sithombe
Name=Image Viewer
Comment=Browse and rotate images
TryExec=xviewer
Exec=xviewer %U
Icon=xviewer
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=XVIEWER
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=@VERSION@
X-GNOME-DocPath=xviewer/xviewer.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;image/webp;image/heif;image/avif;
# Extra keywords that can be used to search for xviewer in GNOME Shell and Unity
Keywords=Picture;Slideshow;Graphics;
# Managed by rofi-blacklist-sync
